.App {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.main__content {
  margin: 20px 0;
}
.loading {
  margin-top: 20px;
}

@media all and (min-width: 768px) {
  .App {
    width: auto;
    max-width: 600px;
  }
}
@media all and (min-width: 1000px) {
  .App {
    max-width: 1000px;
  }
}
