$primaryFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$colorWhiteSnow: #fff;
$colorDarkBatman: #000;
$colorGreyStone: #666;
$colorYellowSun: #ffe644;
$colorRedApple: #ea3f3e;
$colorGreyLight: #dfdfdf;
$colorText: #333;
$colorGeenWatermelon: #22503b;
$colorPurpleGrape: #705898;
