@import '../../stylesheets/variables';
.detail {
  &__main {
    background: $colorWhiteSnow;
    padding: 20px;
    text-align: left;
  }
  &__profile-title {
    background: $colorPurpleGrape;
    color: $colorWhiteSnow;
    padding: 5px;
    text-transform: uppercase;
    display: block;
  }
  &__profile-list--ability:first-child:before {
    content: none;
  }
  &__profile-list--ability:before {
    content: ', ';
  }
  &__profile-list {
    margin: 20px 0;
  }
}
