@import '../../stylesheets/variables';

.detail {
  &__main {
    background: $colorWhiteSnow;
    padding: 20px;
    text-align: left;
    margin-top: 80px;
    width: 92%;
    max-height: 450px;
    box-shadow: 1px 1px 20px $colorDarkBatman;
    overflow-y: scroll;
  }

  &__profile-text {
    margin-bottom: 10px;
  }
}
.icon-arrow {
  font-size: 28px;
}
.link {
  z-index: 999;
  text-align: left;
  position: absolute;
  top: 20px;
  left: 20px;
}
.back {
  &__link {
    text-align: left;
    background: #2e1258;
    color: $colorWhiteSnow;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all 0.15s ease-out;
  }
  &__btn {
    font-size: 28px;
    line-height: 0.1;
  }
}
.back__link:hover {
  background: #8872ac;
  transition: all 0.1s ease-out;
}
.detail__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(45deg, #e0c068 50%, $colorPurpleGrape 50%);
}

@media all and (min-width: 768px) {
  .detail {
    &__main {
      max-width: 600px;
    }
    &__evolution-current,
    &__profile-item {
      margin: 0 20px;
      flex-direction: row;
    }
    &__profile-list--name {
      font-size: 30px;
    }
    &__profile-stats-list {
      width: 90%;
      padding: 20px;
    }
    &__main {
      max-height: 900px;
      overflow-y: hidden;
    }
  }
}
@media all and (min-width: 1200px) {
  &__main {
    max-height: auto;
  }
}

.detail__main {
  animation: animation-name 1s linear;
}
@keyframes animation-name {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
